---
title: "Contact Jonathan Cottrell"
layout: "layouts/base.njk"
---

<div class="home">
  <div style="display: flex; flex-flow: column; gap: 1.5rem; margin-top: 1rem">
    <a class="button-27" href="https://www.instagram.com/modelcottrell">
      {% FontAwesomeIcon
      name = "instagram",
      type = "brand",
      class = "icon"
 %}
    modelcottrell
  </a>
    <a class="button-28" href="https://www.linkedin.com/in/cottrell-jonathan/">
      {% FontAwesomeIcon
      name = "linkedin",
      type = "brand",
      class = "icon"
 %}
    cottrell-jonathan
  </a>
    <a class="button-27" href="tel:+13234523315">
      {% FontAwesomeIcon
      name = "phone",
      type = "solid",
      class = "icon"
 %}
    +1 (323) 452-3315
  </a>
    <a class="button-28" href="mailto:jonathan@bravecottrell.com">
      {% FontAwesomeIcon
      name = "envelope",
      type = "solid",
      class = "icon"
 %}
    johnny@johnnyweho.com
  </a>
  </div>
</div>